body {
    margin: 0;
    padding: 0;
    background: #eaeae3;
    font-family: sans-serif;
}

.bold {
    font-weight: 900;
    color: dodgerblue;
}

.section {
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    background-color: whitesmoke;
    border: 1px solid dodgerblue;
}